@font-face {
  font-family: Panton;
  src: url('./fonts/Panton-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: Panton;
  src: url('./fonts/Panton-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: Panton;
  src: url('./fonts/Panton-Black.otf');
  font-weight: 900;
}
body {
  overflow-y: auto;
  font-family: Panton !important;
}
.ant-carousel .slick-slide {
  text-align: center;
  /* background: #364d79; */
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}